/* prerequisite */
:root {
    --color-text: white;
    --color-semi-bg: rgba(15, 15, 15, 0.911);
    --color-text-semi-contrast: rgb(189, 255, 186);
}


* {
    color: white;
    top: 0;
    left: 0;
    font-family: "Consolas", monospace, auto;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {
    position: absolute;
    height: 25000px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}


/* intro section */
#s1 {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;

    background: var(--color-semi-bg);
    color: var(--color-text);

    max-width: 85vw;
    margin: auto;
    text-align: center;
    padding: 2vw;
    
    border-radius: 3vw;
}

#s1 > h1 {
    margin: 0;
    font-size: 9vw;
}

#s1 > p {
    margin: 0;
    font-size: 4vw;
}

/* who am i section */
#s2 {
    position: absolute;
    top: 950px;
    left: 0;
    right: 0;

    background: var(--color-semi-bg);
    color: var(--color-text);

    max-width: 85vw;
    margin: auto;
    text-align: center;
    padding: 2vw;
    
    border-radius: 1em;
}

#s2 > h1 {
    margin: 0;
    font-size: 6vw;
}

#s2 > p {
    margin: 0;
    font-size: 4vw;
}

/* bass */
#s3 {
    position: absolute;
    top: 1700px;
    left: 0;
    right: 0;

    background: var(--color-semi-bg);
    color: var(--color-text);

    max-width: 85vw;
    margin: auto;
    text-align: center;
    padding: 2vw;
    
    border-radius: 1em;
}

#s3 > p {
    margin: 0;
    font-size: 4vw;
}


/* chess */
#s4 {
    position: absolute;
    top: 2450px;
    left: 0;
    right: 0;

    background: var(--color-semi-bg);
    color: var(--color-text);

    max-width: 85vw;
    margin: auto;
    text-align: center;
    padding: 2vw;
    
    border-radius: 1em;
}

#s4 > p {
    margin: 0;
    font-size: 4vw;
}


/* picture of me */
#s5 {
    position: absolute;
    top: 4800px;
    left: 0;
    right: 0;

    background: var(--color-semi-bg);
    color: var(--color-text);

    max-width: 85vw;
    margin: auto;
    text-align: center;
    padding: 2vw;
    
    border-radius: 1em;
}

#s5 > p {
    margin: 0;
    font-size: 4vw;
}

#s5 > img {
    max-width: 80vw;
    max-height: 60vh;
    margin: 1em;
}


/* as a programmer */
#s6 {
    position: absolute;
    top: 7500px;
    left: 0;
    right: 0;

    background: var(--color-semi-bg);
    color: var(--color-text);

    max-width: 85vw;
    margin: auto;
    text-align: center;
    padding: 2vw;
    
    border-radius: 1em;
}

#s6 > h1 {
    margin: 0;
    font-size: 6vw;
}

#s6 > p {
    margin: 0;
    font-size: 4vw;
}


/* programming languages */
#s7 {
    position: absolute;
    top: 8500px;
    left: 0;
    right: 0;

    background: var(--color-semi-bg);
    color: var(--color-text);

    max-width: 85vw;
    margin: auto;
    text-align: center;
    padding: 2vw;
    
    border-radius: 1em;
}

#s7 > h1 {
    margin: 0;
    font-size: 6vw;
}

#s7 > p {
    margin: 0;
    font-size: 4vw;
}

#s7 > .contrast {
    color: var(--color-text-semi-contrast);
}


/* school life */
#s8 {
    position: absolute;
    top: 11500px;
    left: 0;
    right: 0;

    background: var(--color-semi-bg);
    color: var(--color-text);

    max-width: 85vw;
    margin: auto;
    text-align: center;
    padding: 2vw;
    
    border-radius: 1em;
}

#s8 > h1 {
    margin: 0;
    font-size: 6vw;
}

#s8 > p {
    margin: 0;
    font-size: 4vw;
}


/* achievements */
#s9 {
    position: absolute;
    top: 12500px;
    left: 0;
    right: 0;

    background: var(--color-semi-bg);
    color: var(--color-text);

    max-width: 85vw;
    margin: auto;
    text-align: center;
    padding: 2vw;
    
    border-radius: 1em;
}

#s9 > h1 {
    margin: 0;
    font-size: 6vw;
}

#s9 > p {
    margin: 0;
    font-size: 4vw;
}


/* projects */
#s10 {
    position: absolute;
    top: 13500px;
    left: 0;
    right: 0;

    background: var(--color-semi-bg);
    color: var(--color-text);

    max-width: 85vw;
    margin: auto;
    text-align: center;
    padding: 2vw;
    
    border-radius: 1em;
}

#s10 > h1 {
    margin: 0;
    font-size: 6vw;
}

#s10 > p {
    margin: 0;
    font-size: 4vw;
}