@media screen and (min-width: 900px) {
    /* intro section */
    #s1 {
        width: fit-content;
    }

    #s1 > h1 {
        font-size: 4.5em;
    }

    #s1 > p {
        font-size: 2em;
    }

    /* who am i section */
    #s2 {
        max-width: 65vw;
    }

    #s2 > h1 {
        font-size: 2.5em;
    }

    #s2 > p {
        font-size: 1.5em;
    }

    /* bass */
    #s3 {
        max-width: 65vw;
    }

    #s3 > p {
        font-size: 1.5em;
    }

    /* chess */
    #s4 {
        max-width: 65vw;
    }

    #s4 > p {
        font-size: 1.5em;
    }

    /* picture of me */
    #s5 {
        max-width: 65vw;
    }

    #s5 > p {
        font-size: 1.5em;
    }

    #s5 > img {
        max-width: 60vw;
    }

    /* as a programmer */
    #s6 {
        max-width: 65vw;
    }

    #s6 > h1 {
        font-size: 2.5em;
    }

    #s6 > p {
        font-size: 1.5em;
    }


    /* programming languages */
    #s7 {
        max-width: 65vw;
    }

    #s7 > h1 {
        font-size: 2.5em;
    }

    #s7 > p {
        font-size: 1.5em;
    }

    /* school life */
    #s8 {
        max-width: 65vw;
    }

    #s8 > h1 {
        font-size: 2.5em;
    }

    #s8 > p {
        font-size: 1.5em;
    }

    
    /* achievements */
    #s9 {
        max-width: 65vw;
    }

    #s9 > h1 {
        font-size: 2.5em;
    }

    #s9 > p {
        font-size: 1.5em;
    }


    /* projects */
    #s10 {
        max-width: 65vw;
    }

    #s10 > h1 {
        font-size: 2.5em;
    }

    #s10 > p {
        font-size: 1.5em;
    }


    /* cards */
    .card > img {
        width: 50vw;
    }

    .card > div {
        width: 50vw;
    }


    /* games */
    #s11 {
        max-width: 85vw;
    }

    #s11 > h1 {
        font-size: 2.5em;
    }

    /* websites */
    #s12 {
        max-width: 85vw;
    }

    #s12 > h1 {
        font-size: 2.5em;
    }

    /* other projects */
    #s13 {
        max-width: 85vw;
    }

    #s13 > h1 {
        font-size: 2.5em;
    }

    /* contacts */
    #s14 {
        max-width: 65vw;
    }

    #s14 > h1 {
        font-size: 2.5em;
    }

    #s14 > p {
        font-size: 1.5em;
    }
}