@media screen and (min-width: 800px) {
    /* intro section */
    #s1 {
        width: fit-content;
    }

    #s1 > h1 {
        font-size: 4.5em;
    }

    #s1 > p {
        font-size: 2em;
    }

    /* who am i section */
    #s2 {
        max-width: 65vw;
    }

    #s2 > h1 {
        font-size: 2.5em;
    }

    #s2 > p {
        font-size: 1.5em;
    }

    /* hobbies */
    #s3 {
        max-width: 65vw;
    }

    #s3 > h1 {
        font-size: 2.5em;
    }

    #s3 > p {
        font-size: 1.5em;
    }

    /* picture of me */
    #s4 {
        max-width: 65vw;
    }

    #s4 > p {
        font-size: 1.5em;
    }

    #s4 > img {
        max-width: 60vw;
    }

    /* as a programmer */
    #s5 {
        max-width: 65vw;
    }

    #s5 > h1 {
        font-size: 2.5em;
    }

    #s5 > p {
        font-size: 1.5em;
    }


    /* programming languages */
    #s6 {
        max-width: 65vw;
    }

    #s6 > h1 {
        font-size: 2.5em;
    }

    #s6 > p {
        font-size: 1.5em;
    }

    /* school life */
    #s7 {
        max-width: 65vw;
    }

    #s7 > h1 {
        font-size: 2.5em;
    }

    #s7 > p {
        font-size: 1.5em;
    }

    
    /* achievements */
    #s8 {
        max-width: 65vw;
    }

    #s8 > h1 {
        font-size: 2.5em;
    }

    #s8 > p {
        font-size: 1.5em;
    }


    /* projects */
    #s9 {
        max-width: 65vw;
    }

    #s9 > h1 {
        font-size: 2.5em;
    }

    #s9 > p {
        font-size: 1.5em;
    }


    /* cards */
    .card > img {
        width: 50vw;
    }

    .card > div {
        width: 50vw;
    }


    /* games */
    #s10 {
        max-width: 85vw;
    }

    #s10 > h1 {
        font-size: 2.5em;
    }

    /* websites */
    #s11 {
        max-width: 85vw;
    }

    #s11 > h1 {
        font-size: 2.5em;
    }

    /* other projects */
    #s12 {
        max-width: 85vw;
    }

    #s12 > h1 {
        font-size: 2.5em;
    }

    /* contacts */
    #s13 {
        max-width: 65vw;
    }

    #s13 > h1 {
        font-size: 2.5em;
    }

    #s13 > p {
        font-size: 1.5em;
    }


    /* redirect section */
    #r {
        max-width: 65vw;
    }

    #r > h1 {
        font-size: 2.5em;
    }

    #r > p {
        font-size: 1.5em;
    }


    /* navigation */
    nav > a {
        font-size: 1.1em;
        padding: 0.25em 1em;
    }

    nav > a > p {
        display: inline;
    }


    /* barlists */
    .barlist {
        font-size: 1.5em;
    }
}


@keyframes navbar-show {
    0% {
        top: -100px;
    }
    100% {
        top: -0px;
    }
}

@keyframes navbar-hide {
    0% {
        top: 0px;
    }
    100% {
        top: -100px;
    }
}